/*
 * Updated Aug/Sep 2013
 */

body{
    padding:0px;
    margin:0px;
}

img{
    border:none;
}

strong, b {
    font-family: 'freight-sans-pro'; font-weight: bold;
}

i {
    font-family: 'freight-sans-pro'; font-style: italic;
}

.main {
    background-image:url('../images/header_outer_bg.jpg?v=1');
    background-repeat:repeat-x;
    width: 100%;
    margin:0 auto;
    color:#333333;
    font-family: 'freight-sans-pro';
    font-size: 18px;
}


.header{
    background-image:url('../images/header_top_line.png');
    background-repeat:no-repeat;
    width: 1055px;
    height: 190px;
    margin:0 auto;
}

.header_tb_manifesto {
    background-image: url('../images/header_bg_tb_manifesto.png');
}

#header_logo_title_container {
    width: 983px;
    height: 160px;
    padding: 30px 36px 0 36px;
}

#header_logo {
    float: left;
    height: 160px;
}

#header_title {
    float: left;
    height: 120px;
    font-size: 41px;
    font-weight: 900;
    letter-spacing: -1px;
    margin: 0px;
    padding: 40px 0px 0px 55px;
}

#header_logo_link {
    display: block;
    width: 310px;
    height: 110px;
}

.content{
    width: 975px;
    background-color:#fff;
    padding:20px 40px;
    margin: 0 auto;
}

.main-mobile{
    margin:0 auto;
    padding:0;
    color:#333333;
    font-family: 'freight-sans-pro';
    font-size: 16px;
}

.header-mobile-border {
    background-image:url('../images/header_outer_mobile.jpg');
    background-repeat:repeat-x;
    width: 100%;
    height: 10px;
    margin-top: 15px;
}

.content-mobile{
background-color:#fff;
padding-left: 3px;
padding-right: 3px;
}

/********************************* NAVIGATION *********************************/

.navigation{
width:480px;
height:30px;
position:absolute;
margin:30px 0 0 266px;
background-image:url('../images/nav_ways.jpg');
background-position:left;
background-repeat:no-repeat;
padding:25px 0 0 0;
}

.navigation .tab{
background-image:url('../images/nav_btn.jpg');
background-repeat:no-repeat;
width:121px;
height:32px;
float:right;
margin:0 0 0 3px;
text-align:center;
padding:7px 0 0 0;
}

.navigation .tab:hover{
background-image:url('../images/nav_btn_on.jpg');
color:#fff;
}

.navigation a{
font-weight:bold;
color:#000000;
text-decoration:none;
font-size:12px;
}

.navigation a:hover{
font-weight:bold;
color:#fff;
text-decoration:none;
font-size:12px;
}

/********************************* TEXT *********************************/

h1 {
    font-weight:bold;
    font-family: 'freight-sans-pro'; font-weight: bold;
    font-size: 26px;
    margin:0 0 10px 0;
    padding:0px;
}

h2 {
    font-weight:bold;
    font-family: 'freight-sans-pro'; font-weight: bold;
    font-size:16px;
    margin:5px 0 5px 10px;
    padding:0px;
}

h2.no_side_marg {
    margin:5px 0 5px 0px;
}

#donate_subheader {
    margin-top: 10px;
    margin-bottom: 25px;
}

h2.donation_form{
    margin:10px 0 10px 0px;
}

.top_note{
    font-size: 17px;
    line-height: 21px;
    font-family: 'freight-sans-pro'; font-style: italic;
    margin-bottom: 10px;
}

.bottom_note {
    height: 245px;
    font-size: 16px;
    line-height: 21px;
}

.bottom_note a {
    color:#333333;
    text-decoration:underline;
}

.font_13 {
    font-size: 13px;
}

.font_12{
    /* used to be used in the tribute form */
    font-size:12px;
}

.font_tribute {
    /* used to be font_12; kept as a template if font size changed needed. */
}

.font_11{
font-size:11px;
}

.font_10{
    font-size:10px;
}

#top_copy {
    line-height: 21px;
}

#cc_note {
    font-size: 12px;
    font-family: 'freight-sans-pro'; font-weight: bold;
    color: #666666;
    margin-top: 2px;
}

#cc_header {
    font-size: 18px;
    font-family: 'freight-sans-pro'; font-weight: bold;
    float: left;
    padding-top: 10px;
    margin-right: 10px;
}

#cc_exp {
    font-size: 18px;
    font-family: 'freight-sans-pro'; font-weight: bold;
    color: #666666;
    padding-left: 42px;
    padding-right: 10px;
}

#cc_exp_slash {
    font-size: 18px;
    font-family: Arial, Verdana, sans-serif;
}

.cc_exp_select {
    width: 95px;
    margin-right:5px;
}

.form_subheader {
    font-size: 24px;
    font-family: 'freight-sans-pro'; font-weight: bold;
    padding-top: 5px;
    padding-bottom: 15px;
}

.tribute_subheader {
    font-size: 24px;
    font-family: 'freight-sans-pro'; font-weight: bold;
}

.form_small {
    font-size:15px;
}

.monthly_min_donation {
    margin-bottom:8px;
    text-align:center;
}

.tribute_min_donation {
    margin-top: 10px;
    margin-bottom: 5px;
}

.tribute_ack_mail {
    display:inline-block;
    float:left;
    margin:5px 0px 10px 0px;
}

.tribute_ack_mail_right {
    width: 400px;
    padding-top: 2px;
}

.char_count {
    width: 29px !important;
    border-color:#e9e9e9;
    background-color:#e9e9e9;
    text-align:right;
}

.monthly_field_partner_copy {
    margin-left: 32px;
    margin-top: 5px;
}

.monthly_img {
    width: 250px;
    height: 267px;
}

.monthly_copy {
    float:right;
    width: 250px;
    font-size: 12px;
}

.field_partner_box {
    float: right;
    border: 1px solid black;
    padding: 5px;
    margin-left: 10px;
    width: 250px;
    font-size: 16px;
}

.field_partner_ul {
    padding-left: 20px;
}

.field_partner_li {
    margin-bottom: 5px;;
}

.browser_warning_box {
    border: 5px solid #CCCCCC;
    width: 658px;
    padding: 0;
    margin: 10px 0;
    background-color:#ffffcc;
}


/********************************* IMAGES *********************************/

.right_image {
    float:right;
    margin-bottom: 10px;
    margin-left: 10px;
}

.btn_image {
    margin-top:15px;
    margin-left: 51px;
    margin-bottom: 5px;
}

.btn_image_mobile {
    margin-top:15px;
    margin-bottom: 5px;
}

#seals_image {
    margin: 5px 0;
}

.onetime_new_img {
    width: 325px;
}
/********************************* FORMS *********************************/

.form{
    background-color: #ffffff;
    background-position:bottom;
    background-repeat:no-repeat;
    border:#eeeeee 5px solid;
    margin:5px 0 0 0;
    padding:10px 55px 10px 55px;
}

.form-mobile{
background-color: #e9e9e9;
}

.form table {

}

.form table td{
    vertical-align: middle;
    padding:1px 2px 2px 2px;
}

.form input[type=text]{
border:1px solid #adadaf;
margin:2px 0 0 0;
padding:2px;
}

.form input[type=radio] {
    margin: 3px 4px 5px 15px;
}

.form .horizontal_radio{
margin:5px 0 0 20px !important;
}

.form .padded_radio{
margin:8px 0 7px 15px !important;
}

#other_gift_amount {
    width: 80px;
    height: 43px;
    margin-left: 9px;
    font-family: 'freight-sans-pro'; font-weight: bold;
    font-size: 18px;
    color: #666666;
}

.donate_form_text_long {
    width: 569px !important;
}

.form input[type=checkbox]{
margin:0 0 0 -2px;
}

.form .select_input {
    margin-top: 3px;
}

#state, #country {
    width: 282px;
}

.form input.form_highlight, .form-mobile input.form_highlight{
    border: 2px solid #CC0000;
}

.form .form_highlight, .form-mobile select.form_highlight {
    border: 2px solid #CC0000;
}

.form-mobile input[type=text],
.form-mobile input[type=number],
.form-mobile input[type=tel],
.form-mobile input[type=email] {
    width: 95%;
}

.form_divider {
    margin: 15px 0 10px 0;
}

.larger_text{
    font-size:13px; /* not used, can be deleted */
}

.align_right{
    /* font-size:13px; */
    text-align:right;
}

.red{
color:#ff0000;
}

.question{
margin:2px 5px 0 5px;
}

.number_note{
    background-color:#c4c4c4;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:17px;
    padding:6px 10px 8px 12px;
    width:12px;
    height:20px;
    float:left;
    margin: 5px 10px 0 0;
}

.slide {
    float: left;
    height: 132px;
    padding: 0 25px 14px 0;
    width: 153px;
}
.slide .radioBut {
    float: left;
}
.slide .labelDiv {
    float: left;
    padding: 0;
}
.highslide {
    cursor: url("../images/zoomin.cur"), pointer;
    outline: medium none;
}

.form_required {
    font-size: 30px;
    color: #ff0000;
    margin-left: 5px;
    margin-right: 10px;
    font-weight:bold;
}

.cc_exp_required {
    margin-left: -4px !important;
}

.hideStart {
    display: none;
}

/* this forces payment info table width of 620px */
#checkout_submit {
    width: 620px;
}

.ecard_send_date {
    width: 85px !important;
    margin-right: 5px !important;
}

.personal_message {
    width: 450px;
    height: 90px;
    font-family: 'freight-sans-pro';
    font-size: 18px;
    color: #666666;
}

.cb_ecard {
    margin: 3px 0 5px 0 !important;
}

.saved_gifts_last {
    margin-top: 50px;
    margin-bottom: 30px;
}

.saved_gifts_divider {
    text-align: center;
}

.saved_gifts_divider_img {
    width: 97%;
    min-width: 549px;
    height: 1px;
}

.saved_gifts_underline {
    margin: 10px 0;
}

.cart_items_msg {
    margin-top: 10px;
    margin-bottom: 10px;
}

#onetime_form_errors {
    margin-top: 10px;
}

#form_errors_list {
    border: 1px dotted red;
    padding-right: 10px;
    margin: 10px 0;
}

#form_errors_msg {
    font-weight: bold;
    color: red;
}

/********************************* Donation Table 2 Column Styles *********************************/
/* .form table.donation_table_two_col, .form table.donation_table {
    width: 100%;
} */

.form table.donation_table_onetime {
    width: 100%;
}

.form table.donation_table_two_col td, .form table.donation_table td {
    vertical-align: top;
    padding-top: 0px;
    padding-bottom: 8px;
    /* padding-right: 10px; */
    padding-left: 0px;
}

.form table.donation_table_two_col input[type=text] {
    width: 168px;
}


/********************************* FOOTER *********************************/
#footer_wrapper {
    background-image:url('../images/footer_divider.jpg');
    background-repeat:repeat-x;
    background-color: #eeeeee;
    width: 100%;
    padding-top:16px;
}

#footer{
    width: 973px;
    height: 220px;
    background-color: #eeeeee;
    margin:0 auto;
    color:#333333;
    padding:16px 9px 16px 9px;
}

#footer_pie_chart {
    float: left;
    height: 100%;
}

#footer_right {
    float: left;
    padding-left: 50px;
    width: 738px;
}

#footer_right_top {
    margin-top: 0px;
    height: 76px;
}

#footer_msf_logo {
    float: left;
}

#footer_office {
    float: left;
    margin: 10px 0 1px 30px;
}

#footer_tax {
    width: 560px;
    text-align:center;
    padding-bottom: 20px;
}

#footer_office_dwob {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:bold;
}

#footer_office_other {
    font-family: 'freight-sans-pro'; font-weight: bold;
    font-size: 14px;
    position: relative;
    float: right;
    margin-top: 5px;
}

#footer_office_address {
    font-family: 'freight-sans-pro';
    font-size: 15px;
}

#footer_office_other_triangle {
    padding: 1px 3px;
}

#footer_right_bottom {
    float: left;
    background-image: url('../images/footer_shading.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 15px;
    font-family: 'freight-sans-pro'; font-weight: bold;
    font-size: 11px;
}

#footer_right_bottom_first {
    margin-left: 0px;
}

#footer_right_bottom_second {
    margin-top: 10px;
    margin-left: 44px;
}

#footer_facebook {
    vertical-align: middle;
    padding: 0 7px 5px 20px;
}

#footer_twitter {
    vertical-align: middle;
    padding: 0 7px 5px 0;
}

#footer a{
    color:#333333;
    text-decoration:none;
}

#footer a:hover{
    text-decoration:underline;
}
/*************************************** /footer ***************************************/


/********************************* onetime-b version 2 *********************************/

/*Place holder class created by jquery.placeholder.js file */
.form table.donation_table input[type=text].placeholder {
    color: #ACACAC;
}

.form table.donation_table input[type=text] {
    height: 43px;
    line-height: 40px; /* JK Added 2/4/2014 */
    font-family: 'freight-sans-pro'; font-weight: bold;
    font-size: 18px;
    color: #666666;
    padding: 0 9px;
}

.form table.donation_table_onetime input[type=text] {
    width: 260px;
}

.form table.donation_table_monthly input[type=text] {
    width: 260px;
}

.form table.donation_table_tribute input[type=text] {
    width: 444px;
}

.form_input_wide {
    width: 444px !important;
}

.form table.donation_table select {
    height: 26px;
    font-size: 17px;
}

.form table.donation_table option {
    font-family: 'freight-sans-pro';
}

#left_side {
    width: 320px;
    float:left;
    margin-left: 0px;
    margin-right: 25px;
}

#onetime_right_side {
    width: 630px;
    float:right;
    margin-top: -20px;
    background-color:#FFF;
    border:none;
    padding:0 0 0 0;
}

.cc_icons {
    float:left;
    margin-left:15px;
}

.cc_icon_img {
    margin-bottom: 5px;
}

#cc_row {
    margin-top: 20px;
}

#credit_card_number {
    margin-top: 10px;
}

div.form_highlight {
    border: 2px solid #CC0000;
    width: 436px;
    height:56px;
}

/********************************* /onetime-b version 2 *********************************/

/********************************** confirmation page ***********************************/

/* hide youtube video from the print view */
@media print {
    .conf_video {display:none;}
    .header {display:none;}
    .conf_fbook {display:none;}
}

.conf_header {
    font-size: 26px;
    margin: 0 0 20px 0;
}

.conf_sub_header {
    font-size: 22px;
    margin: 20px 0 0 0;
    font-weight: bold;
}

.conf_video {
    text-align: left;
}

.conf_share_header {
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.conf_share_outer {
    height: 73px;
}

.conf_share_inner {
    width: 46%;
    border: 1px dotted #DEDEDE;
    padding:10px;
}

.conf_share_fbook {
    float:left;
}

.conf_share_twitter {
    float:right;
}

.conf_fbook_icon {
    float:left;
    padding: 10px 10px 5px 0;
}

.conf_twitter_icon {
    float:left;
    padding: 10px 10px 5px 0;
}

.conf_twitter_text {
    width: 220px;
    float: right;
}

.conf_print_header {
    margin: 25px 0 10px 0;
}

.conf_donation_info {
    padding:8px 0 0 50px;
    width:700px;
    font-weight:bold;
    line-height:1.4em;
}

.conf_p {
    margin:2px 0;
}

.conf_td {
    border-bottom: 1px solid #ADADAD;
    padding: 12px 0;
}

.conf_td_total {
    padding: 12px 0;
}

.conf_footer_copy {
    padding:22px 0 6px 0;
    clear:both;
}

/******************************* /confirmation page *************************************/

/**************************** MSF OFFICES - OTHER OFFICES *******************************/

#msf_offices_dropdown {
    position: absolute;
    top: 17px;
    left: 0;
    z-index: 999;
    background: #eeeeee;
    padding: 6px 0;
    margin-bottom: 15px;
    -webkit-box-shadow: #aaaaaa 0 0 5px;
    -moz-box-shadow: #aaaaaa 0 0 5px;
    box-shadow: #aaaaaa 0 0 5px;

    font-size: 14px;
    line-height: 1em;

    color: #333;

    width: 118px;
    float: right;
}

#msf_offices_dropdown :: selection {
    background: #e00023;
    color: #fff;
}

#msf_offices_dropdown ul.menu {
    overflow: hidden;
    background: #fff;

    list-style: none;
    margin: 0;
    padding: 0;
}

#msf_offices_dropdown ul.menu li {
    font-size: 12px;
    width: 100%;
    list-style: none;
    float: left;
}

#msf_offices_dropdown ul.menu .menu {
    max-height: 125px;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

#msf_offices_dropdown ul.menu li a {
    font-weight: normal;
    display: block;
    padding: 3px 5px;

    color: #333;
    text-transform: none;
    font-size: 13px;
    line-height: 1.5em;

    text-decoration: none;
}

#msf_offices_dropdown ul.menu li a:visited {
    color: #2f4464;
    text-decoration: none;
    font-weight: bold;
    outline: none;
}

#msf_offices_dropdown ul.menu li a:hover {
    background: #e00023;
    color: #fff;
}

#msf_offices_dropdown ul.menu li a:active {
    background: #e00023;
    color: #fff;
}

#msf_offices_dropdown ul.menu li a.active {
    font-family: "freight-sans-pro",Arial,Helvetica,sans-serif;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
}

/************************* end: MSF OFFICES - OTHER OFFICES *****************************/


/********************************* DR-TB Manifesto Styles *********************************/
#left_tb_manifesto_col {
    float: left;
    width: 565px;
    margin-right: 40px;
}

#right_tb_manifesto_col {
    float: left;
    width: 370px;
    position:relative:
}

#manifesto_completed_area {
    left: 0px;
    top: 0px;
    background-image:url('../images/manifesto_completed.jpg');
    height: 650px;
    width: 361px;
    position: relative;
}

#manifesto_completed_text_area {
    left: 30px;
    top: 180px;
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 400px;
    font-family: 'Kreon', serif;
}

.manifesto_link {
    text-decoration: none;
    color: #2E4464;
    font-size: 15px;
    font-weight: bold;
}

a.manifesto_link:hover {
    text-decoration: underline;
}

ol.tb_manifesto li {
    font-size: 20px;
    padding-bottom: 15px;
    font-family: 'Kreon', serif;
}

ol.tb_manifesto li strong {
    font-family: 'Kreon', serif;
    font-weight: 700;
    color: #171717;
}
/************************* end: DR-TB Manifesto Styles *****************************/

/************ Donation form CSS updates ************/

.donation_form_header {
    height: 61px;
    margin: 0;
}

.donation_form_line {
    height: 1px;
}

.donation_form_p {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.donation_form_p_first {
    padding-top: 15px;
}

.donation_form_p_last {
    padding-bottom: 15px;
}

.tribute_right_image {
    float:right;
    margin-left: 30px;
    margin-bottom: 10px;
}

/************ Corporate Donation Form ************/
#right_side_corporate {
    width: 320px;
    float:left;
    margin-left: 25px;
    margin-right: 0px;
}

#onetime_corporate_left_side {
    width: 630px;
    float:left;
    /*margin-top: -20px;*/
    background-color:#FFF;
    border:none;
    padding:0 0 0 0;
}

#corporate_top {
    width: 100%;
    padding-bottom: 20px;
}

#corporate_top p {
    margin-top: 0px;
}

#corporate_top_left_side {
    width: 630px;
    float: left;
}

#corporate_top_right_side {
    width: 320px;
    float: left;
    margin-left: 25px;
}

hr.light {
    color: #cccccc;
    height: 1px;
     border-style: solid none none;
    border-width: 1px 0 0;

}

/************ /End Corporate Donation Form ************/

/************ Staging Banner ************/

.staging_top_banner {
    color: #333333;
    font-family: 'freight-sans-pro';
    font-size: 18px;
    text-align: center;
    background-color: orange;
    padding: 10px 0;
}

.staging_top_banner a {
    color: #333333;
    font-weight: bold;
}

/************ /End Staging Banner ************/